
body{
    display: flex;
    background: black ;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    margin: 0;

}

header {
display: flex;
justify-content: space-between;
align-items: center; 
}

.gradiente{
    background: linear-gradient(to bottom, #ff0000, #918c8c); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}


.logodaset{
    text-align: left;
    display: inline-block;
    display: flex; 
    width: 300px; 
    height: 300px;
    border-radius: 50%; 
    overflow: hidden;
    margin: 0;
}

.logodaset img {
    width: 300px; 
    height: 300px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.conteudomenu{
    margin: 0 auto;
    text-align: center;
}

.cabecalho h1 {
    align-items: center;
    text-align: center;
    margin: 0;
    font-size: 110px;
}

.h2filmes {
    text-align: center;
    color: rgba(0, 0, 0, 0.842);
}

.menu{
    display: flex;
    justify-content: center; 
    align-items:center ;
    background-color: #ffffff;
    width: 300px; 
    height: 33px;
    margin: 0 auto; 
    border-radius: 10px;
}

.menu ul {
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline;
    margin: 0 15px;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.catalogo{
    display: flex;
    gap: 20px; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.filme{
    width: 300px; 
    height: 400px; 
    object-fit: cover; 
}

.todoconteudopg {
    padding: 20px 0;
}

.introducao {
    text-align: center;
}

/*.criarconta {
    color: #aa8282;
    margin: 20px 0;
    text-align: center;
}

.informacoes {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    font-size: 24px;
}

.informacoes label {
    display: block;
    margin: 10px 0 5px;
}

.informacoes input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.informacoes button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.informacoes button:hover {
    background-color: #218838;
}
    */

.rodape {
    
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.divfilmes{
    background-color: #faab00;
    max-width: 1500px; 
    width: 100%; 
    max-height: 40px; 
    height: auto; 
    margin: 0 auto; 
    border-radius: 10px; 
    
}

@media (min-width: 768px) {
    .catalogo {
        flex-direction: row;
        justify-content: space-evenly; 
    }

    .imagem {
        width: 200px; 
        height: 300px;
    }
}


@media (max-width: 767px) {
    .catalogo {
        justify-content: center;
    }

    .imagem {
        width: 180px; 
        height: 250px;
    }
}

@media (max-width: 480px) {
    .catalogo {
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .imagem {
        width: 100px; 
        height: 150px;
    }
}
.navbar-toggler-icon {
    background-image: none; 
    border: 1px solid white; 
    width: 30px; 
    height: 3px; 
    background-color: transparent; 
    position: relative; 
}
